bin/*
*~
output
build
tags
.clang-format
*.gch
.atom-build.yml
*.o
*.a

# Created by https://gitignore.org
# CMake.gitignore

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json